{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Registration
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Login page</h1>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <a href="{% url 'home' %}"><button type="submit" class="btn btn-outline-success">Login</button></a>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
    